<div class="flex flex-wrap">
  <div class="w-full p-6">
    <div class="px-2 pb-3 cursor-pointer hover:text-green-800 hover:underline">
      <!-- <p [routerLink]="['/','list-gateway']">BACK</p> -->
      <button
        [routerLink]="['/', 'list-gateway']"
        class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
      >
        BACK
      </button>
    </div>

    <div class="flex mb-4 h-auto">
      <div class="w-1/4 px-2">
        <div
          class="max-w-sm bg-white rounded-lg border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700"
        >
          <a>
            <img class="rounded-t-lg" src="assets/images/image-1.jpg" alt="" />
          </a>
          <div class="p-5">
            <a>
              <h5
                class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
              >
                {{ objGateway?.name }}
              </h5>
            </a>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
              IP: {{ objGateway?.ip }}
            </p>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
              SERIAL: {{ objGateway?.serial }}
            </p>
          </div>
        </div>
      </div>
      <div class="w-3/4 px-2">
        <div class="overflow-x-auto relative shadow-md sm:rounded-lg">
          <table
            class="w-full text-sm text-left text-gray-500 dark:text-gray-400"
          >
          <caption class="p-5 text-lg font-semibold text-left text-gray-900 bg-white dark:text-white dark:bg-gray-800">
            DEVICES           
        </caption>
            <thead
              class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
            >        
              <ng-container >
                <tr>
                  <th scope="col" class="py-3 px-6">Provider</th>
                  <th scope="col" class="py-3 px-6">UID</th>
                  <th scope="col" class="py-3 px-6">Creation date</th>
                  <th scope="col" class="py-3 px-6">Status</th>                
                </tr>
              </ng-container>
            </thead>
            <tbody>
              <tr  *ngFor ="let device of arrDevices"
                class="bg-white border-b dark:bg-gray-900 dark:border-gray-700"
              >
                <th
                  scope="row"
                  class="py-2 px-6 font-medium text-gray-900 whitespace-nowrap dark:text-white"
                >
                  {{ device.provider }}
                </th>
                <td class="py-2 px-6">{{ device.UID }}</td>
                <td class="py-2 px-6">{{ device.creation_date }}</td>
                <td class="py-2 px-6">             
                  <div *ngIf="device.status == true" class="flex items-center">
                    <div class="h-2.5 w-2.5 rounded-full bg-green-400 mr-2"></div>
                    Online
                  </div>
                  <div *ngIf="device.status == false" class="flex items-center">
                    <div class="h-2.5 w-2.5 rounded-full bg-red-400 mr-2"></div>
                    Offline
                  </div>
                </td>               
              
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
