.active-home {
    border-bottom-width: 2px;  
    --tw-border-opacity: 1;
    border-color: rgb(236 72 153 / var(--tw-border-opacity));
}

.active-gateway {
    border-bottom-width: 2px;  
    --tw-border-opacity: 1;
    border-color: rgb(168 85 247 / var(--tw-border-opacity));
}

